[Desktop Entry]
Name=Dumacast
Version=1.0
Exec=/usr/bin/dumacast
Comment=Трансляция видео на площадке Думалогии
Icon=/usr/share/pixmaps/dumacast.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;Думалогия;dumalogiya;
Comment[en]=Broadcast video and audio into a virtual webcam
